---
import type { Preload } from '@/types/Preload';
import SEO from '@components/seo/SEO.astro';
import '@fontsource/noto-serif-jp/400.css';
import '@fontsource/noto-serif-jp/500.css';
import '@fontsource/noto-serif-jp/700.css';
import '@fontsource/space-mono/400.css';
import '@fontsource/space-mono/700.css';
import '@styles/global.css';
import { ClientRouter } from 'astro:transitions';

export interface Props {
  title: string;
  description: string;
  preload?: Array<Preload>;
  canonical?: string;
  image?: string;
}

const {
  title = 'Moura.ar - Agustín Moura',
  description = 'Sitio web personal de Agustín Moura',
  image = '/og-image.jpg',
  canonical = new URL(Astro.url.pathname, Astro.site),
  preload = [],
} = Astro.props;

const canonicalURL = new URL(canonical, Astro.url);
---

<!doctype html>
<html lang="es">
  <head>
    <SEO
      title={title}
      description={description}
      image={image}
      canonical={canonicalURL}
      preload={preload}
    />
    <ClientRouter />
  </head>
  <body class="min-h-screen bg-background text-foreground antialiased">
    <slot />
  </body>
</html>
